.main {
  margin-top: var(--header-height);
}
.title {
  background-color: red;
  color: white;
  font-size: 2.4rem;
  padding: 8px 0;
  text-align: center;
  text-transform: uppercase;
}
.video-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}
.list-item {
  display: flex;
  flex-direction: column;
}
.video-container {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.video-title {
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .video-list {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
@media only screen and (min-width: 1024px) {
  .main {
    margin-top: var(--full-header-height);
  }
}
