.main {
  margin-top: var(--header-height);
}
.title {
  background-color: red;
  color: white;
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 8px 0;
}
.list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-evenly;
  width: min(90%, 600px);
}
.playlist {
  background-color: #f3f3f3;
  border-radius: 10px;
}
.playlist:hover {
  color: red;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
}
.playlist-link {
  align-items: center;
  display: flex;
  width: 100%;
}
.playlist-image {
  width: 150px;
  border-radius: 10px 0 0 10px;
}
.playlist-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
}

@media only screen and (min-width: 768px) {
  .list {
    height: 750px;
    width: 70%;
  }
  .playlist-image {
    width: 200px;
  }
  .playlist-title {
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .main {
    margin-top: var(--full-header-height);
  }
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
  }
  .playlist {
    margin-top: 40px;
    border-radius: 20px;
    padding: 20px;
  }
  .playlist-link {
    flex-direction: column;
  }

  .playlist-image {
    width: 400px;
    border-radius: 20px;
  }
  .playlist-title {
    font-size: 2.8rem;
    margin: 30px 0 20px;
  }
}
