.hero-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  min-height: 100vh;
  place-content: start center;
  width: 100vw;
}
.hero-image {
  height: auto;
}
.image {
  width: 100%;
}
.shop {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  width: 100%;
}
.quote {
  width: min(100%, 500px);
}
.shop-btn {
  background-color: red;
  color: white;
  font-size: 1.8rem;
  padding: 15px 30px;
  text-transform: uppercase;
  margin-top: 30px;
  width: 60%;
}
.visit {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.visit-title {
  text-transform: uppercase;
  align-self: center;
}
.map {
  height: 400px;
}
@media only screen and (min-width: 768px) {
  .hero-section {
    gap: 70px;
  }
  .hero-content {
    padding: 0 40px;
  }
  .quote {
    width: 70%;
  }
  .shop-btn {
    font-size: 2rem;
    margin-top: 50px;
    padding: 25px 30px;
    width: 50%;
  }
  .visit {
    padding: 0 20px;
  }
  .map {
    height: 500px;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .hero-section {
    grid-template-columns: 1fr 1fr;
    margin-top: var(--full-header-height);
    place-items: center center;
  }
  .hero-image {
    grid-column: 2/3;
  }
  .shop {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .visit {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0;
  }
}
