.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height) - 270px);
  width: 90%;
}
.title {
  color: #ff1f1f;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 10px;
}
.motorcycles {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: min(100%, 800px);
  margin-top: 40px;
  position: relative;
}
.btn {
  background-color: white;
  height: auto;
}
.left-btn {
  position: absolute;
  left: 0;
  top: calc(50% - 45px);
}
.right-btn {
  position: absolute;
  right: 0;
  top: calc(50% - 45px);
}
.icon {
  width: 30px;
}
.bike-link {
  width: 100%;
}
.bike {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}
.bike-image {
  width: min(100%, 500px);
}
.bike-title {
  font-size: 1.8rem;
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 30px;
  }
  .icon {
    width: 40px;
  }
  .bike-title {
    font-size: 2.5rem;
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    margin-top: var(--full-header-height);
  }
  .bike:hover {
    cursor: pointer;
  }
  .bike-link:hover .bike-title {
    color: #ff1f1f;
  }
  .bike-image:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
  }
  .icon:hover {
    color: black;
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 0.3s;
  }
}
