.header-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}
.active {
  background-color: rgba(256, 256, 256, 0.8);
}
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}
.opened {
  background-color: white;
}
.logo {
  width: 130px;
}
.logo-image {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .header-container {
    padding: 10px 0;
  }
  .header {
    flex-direction: column;
    padding: 0;
    width: auto;
  }
  .active {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgba(256, 256, 256, 0.9);
  }
}
