.navbar {
  height: calc(100vh - 78px);
  margin: 30px 20px;
}
.nav-list {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
  font-size: 3rem;
}
.list-item {
  font-size: inherit;
}
.nav-link {
  font-size: inherit;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media only screen and (min-width: 1024px) {
  .navbar {
    height: auto;
    margin: 0;
    margin-top: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active {
    justify-content: flex-end;
    margin-top: 0;
  }
  .nav-list {
    align-items: center;
    flex-direction: row;
    height: auto;
    justify-content: space-betwee;
    width: min(85%, 1000px);
    font-size: 1.6rem;
  }
  .activeList {
    max-width: 650px;
    font-size: 1.6rem;
  }
  .nav-link {
    font-weight: 500;
    letter-spacing: 1px;
  }
  .nav-link:hover {
    cursor: pointer;
    color: red;
  }
}
